/*
@media only screen and (max-width : 885px) {
  .date-block {
    padding: 0 1%;
    width: 98%;
    text-align: center;
    word-wrap: normal;
  }
  .date-block > * {
    display: inline-block;
    white-space: nowrap;
  }

  .listings {
    margin: 20px;
    min-width: 100px;
  }

  .listing {
    padding: 20px 0;
  }

}


@media only screen and (max-width : 680px) {
  .left {
    font-size: 22pt;
  }
  .relative-day{
    display:block;
  }
  .year {
    display:none;
  }
  .banner {
    font-size: 10vw;
    font-weight: inherit;
  }
}
*/
@media screen and (min-width: 48em) {
  .date-block > div {
    text-align:right;
  }

  .listing .location-and-time .at-symbol {
  }

  .date-block input {
    max-width:7.5em;

  }

  .new_event .date-block,
  .new_event .listings-block,
  .edit_event .date-block,
  .edit_event .listings-block{
    max-width: 600px;
  }
}
